.MainMenu-Head {
    border-radius: 1px;
    background: #e20d46;
    text-align: left;
    padding: 0px;
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 0px;
}

ul
{
    width: 200px;
    padding-left: 2px;
    color: purple;
    list-style: none;
    font-size: 20px;
}

li {
    cursor: pointer;
    background: #252235;
    color:  white;
    padding-left: 8px;
    padding-bottom: 3px;
    margin-left: -3px;
    margin-bottom: 5px;
}

li:hover{
    cursor: pointer;
    color: #252235;
    background: orangered;
    margin-left: -20px;
}

.MainMenuLink {
    color:lightgreen;
    text-decoration:  none
    
}